<div class="row">
  <div class="col-lg-12">
    <h2>COMMON CODE</h2>
  </div>
</div>
<hr />
<div class="row" >
  <div class="col-lg-6 col-md-6">
    <div class="form-group">
      <label>Code List</label>
    </div>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Up_code</th>
          <th>Code_name</th>
          <th>Use_yn</th>
          <th>Etc</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of upcd_list; index as i" (click)="getCodeDetail(list.cd)">
              <td>{{list.cd}}</td>
              <td>{{list.cd_name}}</td>
              <td>{{list.use_yn}}</td>
              <td>{{list.etc}}</td>
        </tr>
      </tbody>
    </table>
    <a
      class="btn btn-success"
      (click)="popupCodeDetail(upsert.create)"
    >add</a>
  </div>
  <div class="col-lg-6 col-md-6">
    <div class="form-group">
      <label>Up_code Detail</label>
    </div>
    <form #upcdDetailForm="ngForm">
      <table class="table table-striped table-bordered table-hover">
        <tbody>
          <tr>
            <td>Code</td>
            <td>{{code_dtl.cd}}</td>
          </tr>
          <tr>
            <td>Code_name</td>
            <td>
              <input
                type="text"
                name="cd_name"
                [(ngModel)]="code_dtl.cd_name"
                required
              />
            </td>
          </tr>
          <tr>
            <td>Use_yn</td>
            <td>
              <select name="use_yn" [(ngModel)]="code_dtl.use_yn">
                <option *ngFor="let i of use_yn;" [ngValue]="i.value">{{i.name}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Etc</td>
            <td>
              <input
                type="text"
                name="etc"
                [(ngModel)]="code_dtl.etc"
              />
            </td>
          </tr>
          <tr>
            <td>Create_date<br>(update_date)</td>
            <td>{{code_dtl.create_date}}<br>({{code_dtl.update_date}})</td>
          </tr>
        </tbody>
      </table>
      <button
        type="button"
        class="btn btn-success"
        (click)="upcdDetailModify()"
        [disabled]="!upcdDetailForm.form.valid"
      >update</button>
    </form>
    <div class="form-group">
      <label>Code Detail</label>
    </div>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Code</th>
          <th>Code_name</th>
          <th>Use_yn</th>
          <th>Etc</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of code_list; index as i" (click)="popupCodeDetail(upsert.modify, list.cd)">
          <td>{{list.cd}}</td>
          <td>{{list.cd_name}}</td>
          <td>{{list.use_yn}}</td>
          <td>{{list.etc}}</td>
        </tr>
      </tbody>
    </table>
    <button
      type="button"
      class="btn btn-success"
      (click)="popupCodeDetail(upsert.create, code_dtl.cd)"
    >add</button>
  </div>
</div>