<body>
  <div id="wrapper">

    <!-- main -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="adjust-nav">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" [routerLink]="['/dashboard']">
            <img src="../../favicon.ico"/>
          </a>
        </div>
        <span class="logout-spn">
          <a
            style="color:#fff;"
            (click)="signOut()"
          >LOGOUT</a>
        </span>
      </div>
    </div>
    <!-- / main  -->

    <!-- navigation -->
    <navigation></navigation>
    <!-- / navigation -->
    
    <!-- dashboard -->
    <div id="page-wrapper">
      <div id="page-inner">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- / dashboard -->

  </div>
  <!-- footer -->
  <div class="footer">
    <div class="row">
      <div class="col-lg-12">
        &copy; 2014 yourdomain.com | Design by: <a href="http://binarytheme.com" style="color:#fff;" target="_blank">www.binarytheme.com</a>
      </div>
    </div>
  </div>
  <!-- / footer -->
</body>