<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
      <li class="active-link">
        <a [routerLink]="['/dashboard']"><i class="fa fa-desktop "></i>Dashboard </a>
      </li>
      <li>
        <a [routerLink]="['/users']"><i class="fa fa-table "></i>Users </a>
      </li>
      <li>
        <a [routerLink]="['/common_code']"><i class="fa fa-table "></i>Common_code </a>
      </li>
      <li>
        <a href="blank.html"><i class="fa fa-table "></i>Post </a>
      </li>
    </ul>
  </div>
</nav>